
.container{
position: relative;
margin-top: 100px;
overflow: hidden;
}

.image-container{
	position: relative;
	max-height: 500px;
	max-width:  500px;
	overflow: hidden;
	float: left;
}

 .img-wrap{
	position: relative;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
	max-height: 500px;
	max-width: 500px;
	overflow: scroll;
}

.mcanvas{
position: absolute;
top:0px;
left:0px;
opacity:0.8;
}

.loaderSub {
  display: block;
  top: 0px;
  margin-left: 50px;
  margin-bottom: 20px;
  align-items: center;
  height: 10px;
  width: 200px;
  font-family: 'Nobile', sans-serif;
  font-size: 12pt;
}

.subtitle {
  position: absolute;
  margin-top: 20px;
  margin-left: 50px;
  align-items: center;
  height: 10px;
  width: 100px;
  font-family: 'Nobile', sans-serif;
  font-size: 10pt;
}

